
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {

    --green: #16a085;
    --black:#444;
    --light-color:#777;
    --box-shadow: .5rem .5rem 0 rgba(22,160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0,0, 0, .2);
    --border: .2rem solid var(--green);
}

.heading {

    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span {

    text-transform: uppercase;
    color: var(--green);
}
.btn {

    margin-top: 1rem;
    padding: 1rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font: 3rem;
}

.btn span {

    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color: #fff;
    margin-left: .5rem;
}

.btn:hover {

    background: var(--green);
    color: #fff;
}
.btn:hover span {

    color: var(--green);
    background: #fff;
    margin-left: 1rem;
}


/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */
.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}  
.about .row .image {
    flex: 1 1 45rem;
}
.about .row .image img {
    width: 80%;
}
.about .row .content {
    flex: 1 1 45rem;
}
.about .row .content h3 {
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}
.about .row .content {
    color: var(--light-color);
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}










.header {

    padding: 2rem 9%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.header .logo {

    font-size: 2.5rem;
    color: var(--black);
}
.header .logo i {

    color: var(--green);
}
.header .navbar a {

    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem
}
.header .navbar a:hover {

    color: var(--green);
}
#menu-btn {

    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}
