.container {

    background: #fff;
    width: 650px;
    height: 550px;
    margin: auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px rgba(rgb(20, 20, 20), green, blue, alpha);
}
h1 {
    font-family: "Montserrat", sans-serif;
    color: #7ed386;
    font-size: 2.9rem;
    margin-top: 8%;
    margin-bottom: 35px;
    margin-left: 15%;
}
h2 {
    color: #0a0a0a;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 10px;
}
.input, p {
    border: 0;
    border-bottom: 1px solid #3fb6a8;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    padding: 7px 0;
    color: #070707;
    /* outline: none; */
}
.button {

    background-color: #4b2cd6;
    color: #fffbfb;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding: 15px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 50px;
}
.saveButton {
    width: 100%;
    background-color: rgb(252, 102, 56);
    color: #faf7f9;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    padding: 15px;
    letter-spacing: 2px;
    margin-top: 50px;
}






















.btn {

    margin-top: 1rem;
    padding: 1rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font: 3rem;
}

.btn span {

    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color: #fff;
    margin-left: .5rem;
}

.btn:hover {

    background: var(--green);
    color: #fff;
}
.btn:hover span {

    color: var(--green);
    background: #fff;
    margin-left: 1rem;
}