.leftbox {
    float: left;
    top: 0%;
    bottom: 0%;
    left: 0%;
    position: absolute;
    width: 20%;
    height: 100%;
    background: #2ed573;
    box-shadow: 3px 3px 10px rgba(119,119,119,.5);
    border: .1em solid #fff;
}
nav a {
    list-style: none;
    padding: 35px;
    color: #fff;
    font-size: 1.4em;
    display: block;
    transition: all .3s ease-in-out;
}
nav a:hover {
    color: #10ac84;
    cursor: pointer;
    transform: scale(1.2);
}
nav a:first-child {
    margin-top: 7px;
}
nav a.active {
    color: #10ac84;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.rightbox {
    width: 60%;
    margin-left: 37%;
    max-width: 600px;
    margin: 50px auto;
    margin-top: 10%;
    background-color:#2ed573;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    font-size: 3em;
    text-align: center;
}
form {
    margin-top: 20px;
}
label {
    font-size: 1.5em;
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #fd3c0b;
    color: white;
    margin-left: 5%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}