/* .container {

    background: #fff;
    width: 650px;
    height: 550px;
    margin: auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px rgba(rgb(20, 20, 20), green, blue, alpha);
} */
.leftbox {
    float: left;
    top: 0%;
    bottom: 0%;
    left: 0%;
    position: absolute;
    width: 20%;
    height: 100%;
    background: #2ed573;
    box-shadow: 3px 3px 10px rgba(119,119,119,.5);
    border: .1em solid #fff;
}
nav a {
    list-style: none;
    padding: 35px;
    color: #fff;
    font-size: 1.4em;
    display: block;
    transition: all .3s ease-in-out;
}
nav a:hover {
    color: #10ac84;
    cursor: pointer;
    transform: scale(1.2);
}
nav a:first-child {
    margin-top: 7px;
}
nav a.active {
    color: #10ac84;
}
.rightbox {
    width: 60%;
    margin-left: 37%;
}
img {
    box-sizing: border-box;
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin: 0;
    border: 5px solid #3ef785;
    padding: 3px;
    background-color: white;
}
input[type="file"] {
    display: none;
}
label {
    box-sizing: border-box;
    font-size: 20px;
    background-color: #070707;
    color: white;
    border: 1px solid #3498db;
    padding: 2px 15px;
    border-radius: 5px;
    transition: all 0.3s;
}
label:hover {
    background-color: #3498db;
    color: #070707;
}
.tabShow {
    transition: all .5s ease-in;
    width: 80%;
}
h1 {
    font-family: "Montserrat", sans-serif;
    color: #7ed386;
    font-size: 2.9rem;
    margin-top: 40px;
    margin-bottom: 35px;
}
h2 {
    color: #0a0a0a;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 10px;
}
.input, p {
    border: 0;
    border-bottom: 1px solid #3fb6a8;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    padding: 7px 0;
    color: #070707;
    outline: none;
}
span {
    font-size: .7em;
    color: #777;
}

