/* .container {

    background: #fff;
    width: 650px;
    height: 550px;
    margin: auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px rgba(rgb(20, 20, 20), green, blue, alpha);
} */
.leftbox {
    float: left;
    top: 0%;
    bottom: 0%;
    left: 0%;
    position: absolute;
    width: 20%;
    height: 100%;
    background: #2ed573;
    box-shadow: 3px 3px 10px rgba(119,119,119,.5);
    border: .1em solid #fff;
}
nav a {
    list-style: none;
    padding: 35px;
    color: #fff;
    font-size: 1.4em;
    display: block;
    transition: all .3s ease-in-out;
}
nav a:hover {
    color: #10ac84;
    cursor: pointer;
    transform: scale(1.2);
}
nav a:first-child {
    margin-top: 7px;
}
nav a.active {
    color: #10ac84;
}
.rightbox {
    width: 60%;
    margin-left: 37%;
}
img {
    box-sizing: border-box;
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin: 0;
    border: 5px solid #3ef785;
    padding: 3px;
    background-color: white;
}
input[type="file"] {
    display: none;
}
label {
    box-sizing: border-box;
    font-size: 20px;
    background-color: #070707;
    color: white;
    border: 1px solid #3498db;
    padding: 2px 15px;
    border-radius: 5px;
    transition: all 0.3s;
}
label:hover {
    background-color: #3498db;
    color: #070707;
}
.tabShow {
    transition: all .5s ease-in;
    width: 80%;
}
h1 {
    font-family: "Montserrat", sans-serif;
    color: #7ed386;
    font-size: 2.9rem;
    margin-top: 40px;
    margin-bottom: 35px;
}
h2 {
    color: #0a0a0a;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 10px;
}
.input, p {
    border: 0;
    border-bottom: 1px solid #3fb6a8;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    padding: 7px 0;
    color: #070707;
    outline: none;
}
span {
    font-size: .7em;
    color: #777;
}












/*dashboard css*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {

    --green: #16a085;
    --black:#444;
    --light-color:#777;
    --box-shadow: .5rem .5rem 0 rgba(22,160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0,0, 0, .2);
    --border: .2rem solid var(--green);
}
* {

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html {

    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {

    padding: 2rem 9%;
}

section:nth-child(even) {

    background: #f5f5f5;
}

.heading {

    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span {

    text-transform: uppercase;
    color: var(--green);
}


.btn {

    margin-top: 1rem;
    padding: 1rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font: 3rem;
}

.btn span {

    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color: #fff;
    margin-left: .5rem;
}

.btn:hover {

    background: var(--green);
    color: #fff;
}
.btn:hover span {

    color: var(--green);
    background: #fff;
    margin-left: 1rem;
}

.header {

    padding: 2rem 9%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.header .logo {

    font-size: 2.5rem;
    color: var(--black);
}
.header .logo i {

    color: var(--green);
}
.header .navbar a {

    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem
}
.header .navbar a:hover {

    color: var(--green);
}
#menu-btn {

    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}
