/*
.rightbox {
    width: 60%;
    margin-left: 37%;
}
img {
    box-sizing: border-box;
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin: 0;
    border: 5px solid #3ef785;
    padding: 3px;
    background-color: white;
}
input[type="file"] {
    display: none;
}
label {
    box-sizing: border-box;
    font-size: 20px;
    background-color: #070707;
    color: white;
    border: 1px solid #3498db;
    padding: 2px 15px;
    border-radius: 5px;
    transition: all 0.3s;
}
label:hover {
    background-color: #3498db;
    color: #070707;
}
.tabShow {
    transition: all .5s ease-in;
    width: 80%;
}
h1 {
    font-family: "Montserrat", sans-serif;
    color: #7ed386;
    font-size: 2.9rem;
    margin-top: 40px;
    margin-bottom: 35px;
}
h2 {
    color: #0a0a0a;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 10px;
}
input {
    border: 0;
    border-bottom: 1px solid #3fb6a8;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    padding: 7px 0;
    color: #070707;
    outline: none;
}
span {
    font-size: .7em;
    color: #777;
}
*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --green: #16a085;
    --black: #444;
    --light-color: #777;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border: .2rem solid var(--green);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

.rightbox {
    width: 60%;
    margin-left: 37%;
}

.profile {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--box-shadow);
}

.profile h1 {
    text-align: center;
    color: var(--black);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.profile img {
    width: 149px;
    height: 149px;
    border-radius: 50%;
    border: 5px solid #3ef785;
    padding: 3px;
    background-color: white;
    margin: 0 auto 20px auto;
    display: block;
}

.profile input[type="file"] {
    display: none;
}

.profile label {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    background-color: #070707;
    color: white;
    border: 1px solid #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.profile label:hover {
    background-color: #3498db;
    color: #070707;
}

.info-container {
    margin-top: 30px;
}

.info {
    margin-bottom: 20px;
}

.info h2 {
    color: #0a0a0a;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.info input {
    width: calc(100% - 40px);
    border: 0;
    border-bottom: 1px solid #3fb6a8;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    padding: 7px 20px;
    color: #070707;
    outline: none;
}

.info input:focus {
    border-bottom-color: var(--green);
}
