
body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  font-size: 17px;
}
#container_2{
    max-width: 700px;
    margin: 50px 0 50px 50px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form{
  width: 70%;
  margin-bottom: 1em;
}

#submit{
  display: block;
  width: 100%;
  padding: 0.75rem;
  background:#fff;
  color:#000;
  border-radius: 15px;
  cursor: pointer;
}

textarea{
  width: 100%;
}
