body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    font-style:unset;

}
section{
    font-size: 20px;
}


h1 {
    margin: 0;
    background-color: #6fbee9;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

#conferences-services {
    display: flex;
}

.section-container {
    flex: 1;
    padding: 20px;
}

h2 {
    color: #333;
}


#conferences h5:hover, #services h5:hover, #others h5:hover {
    background-color: #ddd;
}

#conferences h5, #services h5, #others h5 {
    padding-left: 20px; /* Add left padding for bullets */
    position:relative;
}

#conferences h5:before, #services h5:before, #others h5:before {
    content: '\2022'; /* Unicode for a bullet point */
    position: absolute;
    left: 10px; /* Adjust the position of the bullet */
    color: #333;
}
#others h2{
    padding-left:20px;
}
#others {
    margin-left: 5px; /* Adjust the margin as needed */
}
 #services {
    margin-left:2px; /* Adjust the margin as needed */
}

