body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url(loginpage.jpg) no-repeat center center/cover;

    }

    label {
      display: block;
      margin-bottom: 8px;

    }

    input {
      width: 100%;
      padding: 6px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border-radius: 8px;
    }

    button[type="submit"]{
      background-color: #4caf50;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: fit-content; /* Adjust the width as needed */
      max-width: 100px;

    }

    button:hover {
      background-color: #45a049;
    }

    .register-link {
      margin-top: 10px;
      text-align: center;
    }

    .register-link a {
      color: #007bff;
      text-decoration: none;
    }

    .register-link a:hover {
      text-decoration: underline;
    }



.header {
    display:flex;
    align-items:flex-start;

   /* Adjust the top margin as needed */
}

#loginForm,
#registrationForm {
  margin-top: 20px;
  color: #FFF;
  font-size: 18px;


}
main{
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid wheat;
  background-color: transparent;
  backdrop-filter: blur(25px);
  position: relative;
}

form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

#title {
      position: absolute;
      top: 10px; /* Adjust as needed */
      left: 10px; /* Adjust as needed */
      font-size: 70px;
      font-weight: bold;
      color: #fff;
      font-family:Georgia, 'Times New Roman', Times, serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);


    }
    .fas fa-eye password-toggle {
      position: absolute;
      top: 20%;
      right: 10px;
       transform: translateY(-50%);
      cursor: pointer;
      align-items: center;
  }
  .password-toggle {
    color: rgb(9, 9, 9);
    position: absolute;
    top:33%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.Eye{
    color: rgb(9, 9, 9);
    position: absolute;
    top: 30%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Additional styling for the eye icon */






