.page-description {
    font-size: 18px;
    color: #000;
    background-color: #dad1dc;
    line-height: 1.5;
    margin: 20px 0;
    text-align:justify;
    padding: 30px; 
    border: 2px solid rgb(21, 21, 22);
    
}
.author-info {
    font-size: 16px;
    color: #000;
    background-color: #dcdcd1;
    line-height: 1;
    margin: 20px 0;
    text-align:justify;
    padding: 20px;
    width: 900px;  
}
.titleabstract {
    font-size: 16px;
    color: #000;
    background-color: #dcdcd1;
    line-height: 1;
    margin: 20px 0;
    text-align:justify;
    padding: 20px; 
    width: 900px;   
}
.research-area {
    font-size: 16px;
    color: #000;
    background-color: #dcdcd1;
    line-height: 1;
    margin: 20px 0;
    text-align:justify;
    padding: 20px;
    width: 900px;    
}
.file-upload {
    font-size: 16px;
    color: #000;
    background-color: #dcdcd1;
    line-height: 1;
    margin: 20px 0;
    text-align:justify;
    padding: 20px;
    width: 900px;    
}
.keywords {
    font-size: 16px;
    color: #000;
    background-color: #dcdcd1;
    line-height: 1;
    margin: 20px 0;
    text-align:justify;
    padding: 20px;
    width: 900px;    
}

body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 50px 0 50px 50px; ;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit {
    position: absolute;
    left: 60px;
    font-size: 18px;
    background-color: #126fcc;
    color: #fff;
    border: 1px solid #f6fafb;
    padding: 5px 8px 5px 10px;
    cursor: pointer;
    margin-bottom: 20px; /* Add margin below the button */
}


.next:hover {
    background-color: #0e3358;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}
