body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

#title {
    margin: left 0;
    margin-top: 1cm;
    margin-bottom:0.3cm;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #001f3f;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center align items vertically */
    height: 80px;
}

.header {
    display: flex;
    align-items: normal;
}

.button-help {
    background-color: #e2e2e3;
    color: #c11c07d5;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 0.8cm;
}

.button-help:hover {
    background-color: #31afe6;
    color: #fff;
}

.taskbar {
    margin-top:0.2cm;
    background-color:#0d6767;
    color: #fff;
    display: flex;
    justify-content: left;
    padding: 8px;
    font-size: 18px;
    box-shadow: 0px 0px 10px 0px rgba(53, 100, 10, 0.5); /* Fixed shadow value */
}

.button {
    background-color:#2c3e50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin: 0 2px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0e3358;
}

.dropdown {
    margin-top: 0.3cm;
    display: none;
    position: absolute;
    font-size: 17px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    background-color: #d1e6ed;
    min-width: 200px;
    color: #4e4a95;
    box-shadow: 0px 0px 10px 0px rgba(201, 88, 22, 0.567);
    border: 1px solid #44c3ed;
    z-index: 1;
    border-radius: 5px;
}

.button:hover .dropdown {
    display: block;
}

.option {
    padding: 4px;
    color: #4e4a95;
    text-decoration: none;
    display: block;
    border: 1px solid #3877eb;
}

.option:hover {
    background-color: #157fb8;
    color: #fff;
}
#logo {
    width:120px;  /* Adjust the width as needed */
    height: 90px; /* Adjust the height as needed */
    margin-right: 10px; /* Optional margin to separate the logo from text */
    padding: 20px;
    box-shadow: #001f3f;
    transition: opacity 0.3s ease-in-out;
    transition: cubic-bezier(0,0,0,0);
    
}
#logo:hover {
    opacity: 0.8; /* Adjust the opacity as needed */
}
.user-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1b691f; /* Circle background color */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #ffffff; /* Text color */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    margin-top:0.4cm;
    margin-bottom: 0.2cm;
}
.circle-container {
    display: flex;
    align-items: center;
}

.user-circle-left,
.user-circle-support,
.user-circle-settings {
    margin-right: 10px; /* Adjust margin as needed */
}
.user-circle-settings {
    background-color: white; /* Remove circle background */
    border:#e74c3c; /* Remove circle border */
    color: black;
    height: 40px;
    width: 40px;
    margin-top:0.5cm;
    
}

.user-circle-settings:hover{
    background-color: grey ;
}
#logo {
    width:120px;  /* Adjust the width as needed */
    height: 90px; /* Adjust the height as needed */
    margin-right: 10px; /* Optional margin to separate the logo from text */
    padding: 20px;
    box-shadow: #001f3f;
    transition: opacity 0.3s ease-in-out;
    transition: cubic-bezier(0,0,0,0);
}
#logo:hover {
    opacity: 0.8; /* Adjust the opacity as needed */
}
.active-button {
    background-color: #a04000;
    color: #ffffff;
}
.user-circle-support {
    background-color: white; /* Remove circle background */
    border:#e74c3c; /* Remove circle border */
    color: black;
    height: 40px;
    width: 40px;
    margin-top:0.5cm;
    
}
.user-circle-support:hover{
    background-color: grey;

}