
  form {
    text-align:left;
  }
  .input-group {
    margin-bottom: 20px;
    
  }
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  .input-group input[type="text"],
  .input-group select {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  .status-options {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
    .submit{
        background-color:gray;
        width: 100px;
        margin-left: 50px;
    }
    .container {
        width: 300px;
        margin: auto;
        border: 2px solid black;
        background-color: whitesmoke;
        margin-top: 100px;
        border-radius: 10px;
    }
    form {
        font-family:Georgia, 'Times New Roman', Times, serif;
        display: flex;
        flex-direction: column;
        height: 350px;
        padding: 20px;
       
    }
    form label {
        margin-bottom: 5px;
    }
    form input[type="number"],
    form input[type="email"],
    form button {
        margin-bottom: 10px;
    }
    .submit:hover{
        background-color:rgb(25, 114, 126);
        color: white
    }
    .submit{
        background-color:gray;
        width: 100px;
        margin-left: 75px;
    }
    .title1{
        text-align: center;
        font-size: large;
    }
    .input-group textarea {
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
      }
